.admin-nav-bar {
    background-color: #f4f4f4;
    color: #007bff; 
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px; 
}

.nav-link {
    text-decoration: none;
    color: #fff; 
    padding: 15px 25px;
    margin: 10px;
    border-radius: 8px;
    background-color: #007bff;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    font-weight: bold;
}

.nav-link:hover {
    background-color: #0056b3;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

    

  
