.CreateProduct {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 1rem;
}

.CreateProduct h2 {
    margin-bottom: 20px;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.CreateProduct form {
    display: flex;
    flex-direction: column;
}

.CreateProduct label {
    margin-bottom: 10px;
    font-weight: bold;
}

.CreateProduct input[type="text"],
.CreateProduct textarea {
    width: 100%; /* Make all fields the same size */
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #dadada;
    background-color: #dadada;
    border-radius: 3px;
    box-sizing: border-box;
    transition: box-shadow 0.15s;
    outline: none;
}

.CreateProduct input:focus,
.CreateProduct textarea:focus {
    border-color: rgba(82, 168, 236, .8);
    background-color: white;
    
}

.CreateProduct input:hover,
.CreateProduct textarea:hover {
    box-shadow: 0 0 0 1px #009acc;
  }

.CreateProduct input::placeholder,
.CreateProduct textarea::placeholder{
    color: gray;
    opacity: .4;
}

.CreateProduct textarea {
    height: 100px; 
}

.containerButton{
    display: flex;
    justify-content: center;
}

.buttonCreateProduct {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
}

.buttonCreateProduct:hover {
    background-color: #009acc;
}



.CreateProduct p {
    margin-top: 10px;
}

.BrandItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.BrandName {
    font-size: 16px;
    font-weight: bold;
}

.BrandId {
    font-size: 14px;
    color: #666;
}

.container{
    max-width: 600px;
    margin: auto;
    padding: 20px;
  }

.containerAdminNavBar{
   margin-top: 3rem;
 
  }
  
.loading{
    display: flex;
    justify-content: center;
}