.CreateUser {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    margin-top: 1rem;
}

.CreateUser h1 {
    font-size: 24px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.CreateUser form {
    display: flex;
    flex-direction: column;
}

.CreateUser label {
    font-weight: bold;
    margin-bottom: 10px;
}

.CreateUser input[type="text"],
.CreateUser input[type="email"],
.CreateUser input[type="password"] {
    width: 100%; /* Make all fields the same size */
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #dadada;
    background-color: #dadada;
    border-radius: 3px;
    box-sizing: border-box;
    transition: box-shadow 0.15s;
    outline: none;
}

.CreateUser input[type="text"]:hover,
.CreateUser input[type="email"]:hover,
.CreateUser input[type="password"]:hover {
    width: 100%; /* Make all fields the same size */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.CreateUser button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.CreateUser button:hover {
    background-color: #0056b3;
}

.CreateUser p {
    color: #ff0000;
    margin-bottom: 10px;
}
.UpdateProduct .success {
    color: #008000;
    margin-bottom: 10px;
}