.navBar {
    width: 100%;
    height: 96px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-white-primary);
    box-shadow: 0 1px 1px #0000003d, 0 4px 4px #0000001f;
    position: relative;
    padding-top: 24px;
}

.navBar_nav_container {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 24px;
}

.search_container {
    width: 100%;
    display: flex;
    align-items: center;
}

.navBar_nav_icons_container {
    width: 100%;
    display: flex;
}

.navBar_right_side {
    margin-left: 40px;
    display: flex;
    width: 100%;
}

.navBar_nav_icons_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8PX;
}

.icons_cart_container {
    width: 50px;
    height: 50px;
    background-color: var(--light-blue);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in;
}

.icons_cart_container:hover {
    background-color: var(--light-second-blue);
}

.icons_cart_container>img {
    width: 100%;
    height: 100%;
}

.icons_cart_container:hover>img {
    filter: invert();
}

.search_profile_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile_links_container {}

.search_profile_container>p {
    font-weight: bold;
}

.search_profile_container>p>span {
    font-weight: normal;
}

.icon_container {
    width: 100%;
    display: flex;
    align-items: center;
}

.icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.account {
    width: 20%;
    display: none;
    background-color: var(--color-white-principal);
    position: absolute;
    z-index: 1000;
}


.account_menu {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.account_menu a,
.account_menu p {
    margin-top: 8px;
    padding: 16px;
    font-size: normal;
    color: var(--color-black);
    cursor: pointer;
}

.account_menu a:hover,
.account_menu p:hover {
    background-color: var(--color-white-gray);
    font-weight: bold;
}
.account_menu>hr{
    width: 80%;
    margin-top: 16px;
    align-self: center;
}
.account_button>img {
    width: 24px;
}

.account_button {
    font-weight: bolder;
    display: flex;
}

.account_button~input:checked~.account {
    max-height: 300px;
    display: flex;
}