.Home {
    padding: 20px;
    background-color: #f5f5f5;
    margin-left: 180px;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.product {
    border: 2px solid #b3c0c8;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.product:hover {
    transform: translateY(-5px);
}

.product h3 {
    margin-top: 0;
    font-size: 20px;
    color: #333333;
}

.product p {
    margin: 10px 0;
    color: #555555;
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pagination button {
    padding: 8px 16px;
    margin: 0 5px;
    border: 1px solid #007bff;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .pagination button:hover {
    background-color: #0056b3;
  }
  
  .pagination button:disabled {
    background-color: #ddd;
    color: #888;
    cursor: not-allowed;
  }
  
  .pagination span {
    margin: 0 10px;
    font-weight: bold;
  }

  .search-bar {
    margin-bottom: 20px;
  }
  
  .search-bar input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
  }
  
  .search-bar button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background-color: #0056b3;
  }
  
  .search-bar p {
    margin-top: 5px;
    font-size: 14px;
  }
  

  
  