.Order {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.Order p {
    margin: 5px 0;
}

.Order ul {
    list-style-type: none;
    padding: 0;
}

.Order li {
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Add transition for hover effect */
}

.Order li:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05); /* Scale up the card on hover */
}

.Order li p {
    margin: 5px 0;
}

.Order li p:first-child {
    font-weight: bold;
}

.Order .error {
    color: #ff6347;
    font-weight: bold;
}

.filter-buttons {
    margin-bottom: 20px;
}

.filter-buttons button {
    margin-right: 10px;
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
}

.filter-buttons button.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.filter-buttons button:hover {
    background-color: #f0f0f0;
}
