.PaymentHistory {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.PaymentHistory p {
    margin: 5px 0;
}

.PaymentHistory ul {
    list-style-type: none;
    padding: 0;
}

.PaymentHistory li {
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.PaymentHistory li:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.PaymentHistory li p {
    margin: 5px 0;
}

.PaymentHistory li p:first-child {
    font-weight: bold;
}

.PaymentHistory .error {
    color: #ff6347;
    font-weight: bold;
}
