.UpdateProfileInfo {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .UpdateProfileInfo form {
    display: flex;
    flex-direction: column;
  }
  
  .UpdateProfileInfo label {
    margin-bottom: 10px;
  }
  
  .UpdateProfileInfo input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .UpdateProfileInfo p {
    margin: 5px 0;
    color: #ff0000;
  }
  
  .UpdateProfileInfo button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .UpdateProfileInfo button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .UpdateProfileInfo button:hover {
    background-color: #0056b3;
  }
  